.wrapper {
  position: relative;
  padding-top: 10%;
  h1,
  h3 {
    font-family: "Poppins-Bold";
    color: $black;
  }

  p {
    width: 50%;
    color: $black;
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.tony {
  border-radius: 10px;
}

.personal-name {
  font-weight: 600;
  font-family: "Poppins-Bold";
  background-image: -webkit-linear-gradient(
    145deg,
    rgba(107, 198, 179, 1),
    rgba(65, 147, 244, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}
