.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.slika {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrappers {
  padding: 0;
}
